version: '3'
services:
  app:
    image: tg/todo-app:1.0
    ports:
      - "8080:8080"
    depends_on:
      - db

  db:
    image: postgres:15
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: dekiru
      POSTGRES_DB: todo
    ports:
      - "5432:5432"
